* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box !important;
    text-decoration: none !important;
    list-style: none !important;
}

.navbar_class {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: black;
    opacity: 0;
    transform: translateY(-100%);
}

.max-width-634 {
    max-width: 634px !important;
}

.transfrom {
    font-family: "Gilroy", sans-serif;
    font-size: 80px;
    font-weight: 500;
    line-height: 80px;
    opacity: 0;
    transform: translateX(100%);
}

.paragraph {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    opacity: 0;
    transform: translateX(-100%);
}

.logo {
    opacity: 0;
    transform: translateY(-100%);
    width: 25%;
    height: 25%;
}

.get-started {
    padding: 14px 24px 14px 24px;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    border-radius: 21px;
    border: 2px solid grey;
    background-color: white;
    opacity: 0;
    transform: translateX(-100%);
}

.get-started2 {
    padding: 14px 24px 14px 24px;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    border-radius: 21px;
    border: 2px solid grey;
    background-color: white;
    opacity: 0;
    transform: translateX(100%);
}

